@-webkit-keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none; }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

  100% {
    -webkit-transform: none;
            transform: none; } }

@keyframes pulse {
  0% {
    -webkit-transform: none;
            transform: none; }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

  100% {
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: none;
            transform: none; }

  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }

  100% {
    -webkit-transform: none;
            transform: none; } }

@keyframes arrow {
  0% {
    -webkit-transform: none;
            transform: none; }

  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }

  100% {
    -webkit-transform: none;
            transform: none; } }

html {
  margin: 0;
  padding: 0;
  border: 0; }

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

body {
  line-height: 1.5;
  background: white; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

blockquote before, blockquote after, q before, q after {
  content: ''; }

a img {
  border: none; }

b, i {
  display: none; }

@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

.icon-mm:before, .icon-after-mm:after, .icon-instagram:before, .icon-after-instagram:after, .icon-twitter:before, .icon-after-twitter:after, .icon-shop:before, .icon-after-shop:after, .icon-hourglass:before, .icon-after-hourglass:after, .icon-close:before, .icon-after-close:after, .mfp-container .mfp-close:after, .icon-arrow-left:before, .icon-after-arrow-left:after, .icon-arrow-right:before, .icon-after-arrow-right:after, .icon-arrowRight:before, .icon-after-arrowRight:after, .icon-cleaver:before, .icon-after-cleaver:after, .icon-pants:before, .icon-after-pants:after, .icon-hover:before, .icon-after-hover:after, .icon-info:before, .icon-after-info:after, .icon-envelope:before, .icon-after-envelope:after, .icon-mp-arts:before, .icon-after-mp-arts:after, .icon-project-next:before, .icon-after-project-next:after, .icon-project-prev:before, .icon-after-project-prev:after, .project__item:after, .project__item--2x2:after, .project__item--2x1:after, .project__item--1x1:after {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mm:before {
  content: "\F001"; }

.icon-after-mm:after {
  content: "\F001"; }

.icon-instagram:before {
  content: "\F002"; }

.icon-after-instagram:after {
  content: "\F002"; }

.icon-twitter:before {
  content: "\F003"; }

.icon-after-twitter:after {
  content: "\F003"; }

.icon-shop:before {
  content: "\F004"; }

.icon-after-shop:after {
  content: "\F004"; }

.icon-hourglass:before {
  content: "\F005"; }

.icon-after-hourglass:after {
  content: "\F005"; }

.icon-close:before {
  content: "\F006"; }

.icon-after-close:after, .mfp-container .mfp-close:after {
  content: "\F006"; }

.icon-arrow-left:before {
  content: "\F007"; }

.icon-after-arrow-left:after {
  content: "\F007"; }

.icon-arrow-right:before {
  content: "\F008"; }

.icon-after-arrow-right:after {
  content: "\F008"; }

.icon-arrowRight:before {
  content: "\F009"; }

.icon-after-arrowRight:after {
  content: "\F009"; }

.icon-cleaver:before {
  content: "\F010"; }

.icon-after-cleaver:after {
  content: "\F010"; }

.icon-pants:before {
  content: "\F011"; }

.icon-after-pants:after {
  content: "\F011"; }

.icon-hover:before {
  content: "\F012"; }

.icon-after-hover:after {
  content: "\F012"; }

.icon-info:before {
  content: "\F013"; }

.icon-after-info:after {
  content: "\F013"; }

.icon-envelope:before {
  content: "\F014"; }

.icon-after-envelope:after {
  content: "\F014"; }

.icon-mp-arts:before {
  content: "\F015"; }

.icon-after-mp-arts:after {
  content: "\F015"; }

.icon-project-next:before {
  content: "\F016"; }

.icon-after-project-next:after {
  content: "\F016"; }

.icon-project-prev:before {
  content: "\F017"; }

.icon-after-project-prev:after {
  content: "\F017"; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0B152F;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 1;
  filter: alpha(opacity=100);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -60px 72px 4px 0px rgba(11, 21, 47, 0.5);
            box-shadow: -60px 72px 4px 0px rgba(11, 21, 47, 0.5);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-box-shadow: -60px 72px 4px 0px rgba(11, 21, 47, 0.5);
            box-shadow: -60px 72px 4px 0px rgba(11, 21, 47, 0.5);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

@font-face {
  font-family: 'phosphatesolidmedium';
  src: url('../fonts/phosphatesolid-webfont.eot');
  src: url('../fonts/phosphatesolid-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/phosphatesolid-webfont.woff2') format('woff2'), url('../fonts/phosphatesolid-webfont.woff') format('woff'), url('../fonts/phosphatesolid-webfont.ttf') format('truetype'), url('../fonts/phosphatesolid-webfont.svg#phosphatesolidmedium') format('svg');
  font-weight: normal;
  font-style: normal; }

header, .home__inner, .mm_about, .project__inline ul, .project__inline ul a, .project__detail, .mfp-counter a, .mm__projects li span {
  font-family: 'phosphatesolidmedium';
  text-transform: uppercase; }

a.icon-instagram:after {
  font-family: sans-serif;
  content: "_"; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (max-width: 500px) {
  .not-mobile {
    display: none; } }

@media (max-width: 800px) {
  .not-tablet {
    display: none; } }

@media (min-width: 800px) {
  .not-desktop {
    display: none; } }

.noscroll {
  overflow: hidden; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #EFC441;
  border-top: 5px solid white;
  text-align: center;
  font-size: 22px;
  padding: 2px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 54px; }
  footer li {
    display: inline-block;
    padding: 0 10px; }
    footer li:nth-child(2) a {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    footer li:nth-child(3) a {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    footer li:nth-child(4) a {
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s; }
    footer li:nth-child(5) a {
      -webkit-animation-delay: 2s;
              animation-delay: 2s; }
  footer a {
    color: #0B152F;
    -webkit-transition: opacity 0.3s cubic-bezier(.25, .1, .25, 1);
            transition: opacity 0.3s cubic-bezier(.25, .1, .25, 1);
    font-size: 35px;
    display: block;
    height: 20px;
    -webkit-animation: pulse 1s ease-in-out 1;
            animation: pulse 1s ease-in-out 1; }
    footer a:before {
      vertical-align: top;
      margin-top: 5px; }
    footer a:hover {
      opacity: 0.7; }

header {
  text-align: center;
  padding: 10px 0 10px;
  font-size: 26px;
  background: #EFC441;
  font-size: 32px;
  letter-spacing: 3.5px;
  line-height: 30px; }
  header h1 {
    margin-top: -6px; }
  header a.icon-info {
    color: #0B152F;
    -webkit-transition: opacity 0.3s cubic-bezier(.25, .1, .25, 1);
            transition: opacity 0.3s cubic-bezier(.25, .1, .25, 1);
    margin-top: -8px;
    margin-left: 5px;
    -webkit-animation: pulse 1s ease-in-out 2;
            animation: pulse 1s ease-in-out 2; }
    header a.icon-info:hover {
      opacity: 0.7; }

.overlay {
  background: rgba(11, 21, 47, 0.8);
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(.25, .1, .25, 1) 0.5s, top 0s linear 1s;
          transition: opacity 0.5s cubic-bezier(.25, .1, .25, 1) 0.5s, top 0s linear 1s; }
  .overlay.overlay--show {
    opacity: 1;
    top: 0;
    -webkit-transition: opacity 0.5s cubic-bezier(.25, .1, .25, 1);
            transition: opacity 0.5s cubic-bezier(.25, .1, .25, 1); }

.page {
  width: 100vw;
  min-height: 100vh;
  float: left;
  overflow: hidden;
  padding-bottom: 50px;
  position: relative; }
  .page__container {
    width: 100vw; }
  .page__inner {
    width: 300vw; }

#home {
  height: 100vh;
  min-height: 640px;
  background-image: url("../images/home.jpg");
  background-size: cover;
  background-position: center center; }

.home__inner h1, .home__inner h2 {
  text-shadow: 0px 4px 3px rgba(11, 21, 47, 0.2); }

.home__inner {
  position: relative;
  width: 290px;
  margin: 0 auto;
  top: 50%;
  -webkit-transition: 1s all cubic-bezier(.25, .1, .25, 1);
          transition: 1s all cubic-bezier(.25, .1, .25, 1);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  text-align: center; }
  .home__inner--hide {
    -webkit-transform: translateY(-250%);
        -ms-transform: translateY(-250%);
            transform: translateY(-250%); }
  .home__inner h1 {
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 2.5px; }
    .home__inner h1.icon-hourglass {
      font-size: 105px; }
  .home__inner h2 {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.45px;
    line-height: 26px;
    margin-top: 20px; }
  .home__inner hr {
    border: 0;
    background: url('../images/underline.svg') no-repeat;
    background-size: contain;
    height: 11px;
    margin: 20px auto;
    width: 200px; }
  .home__inner a {
    color: white;
    font-size: 64px;
    text-shadow: 0px 0px 30px #0B152F;
    -webkit-animation: arrow 1.5s ease-in-out infinite;
            animation: arrow 1.5s ease-in-out infinite;
    -webkit-transition: 1.5s all ease-in-out;
            transition: 1.5s all ease-in-out;
    height: 60px;
    display: block;
    margin-top: 20px; }
    .home__inner a:hover {
      -webkit-animation: 0;
              animation: 0;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }

.mm_about {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 55%;
  -webkit-transition: 1s all cubic-bezier(.25, .1, .25, 1);
          transition: 1s all cubic-bezier(.25, .1, .25, 1);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transform: translateX(-50%) translateY(-250%);
      -ms-transform: translateX(-50%) translateY(-250%);
          transform: translateX(-50%) translateY(-250%);
  z-index: 10;
  text-align: center;
  font-size: 12px;
  letter-spacing: .85px;
  line-height: 17px;
  color: white; }
  @media (max-width: 800px) {
    .mm_about {
      width: 90%; }
      .mm_about a {
        display: none;
        color: white;
        font-size: 30px;
        margin-left: 15px; }
        .mm_about a:before {
          vertical-align: middle; }
        .mm_about a.icon-mp-arts {
          font-size: 60px; }
        .mm_about a.icon-envelope:before {
          margin-top: -6px; }
        .mm_about a:after {
          display: none; }
      .mm_about .not-desktop {
        margin-top: 20px; }
        .mm_about .not-desktop a {
          display: inline; }
      .mm_about .icon-close {
        -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
                transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }
        .mm_about .icon-close:hover {
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1); } }
  .mm_about--show {
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .mm_about h1 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 2.5px; }
  .mm_about hr {
    border: 0;
    background: url('../images/underline.svg') center top no-repeat;
    height: 11px;
    margin: 20px 0; }
  .mm_about p {
    color: #FFFFFF;
    margin-top: 20px; }
  .mm_about ul {
    list-style-type: none;
    margin-top: 25px;
    width: 100%;
    text-align: center; }
    @media (max-width: 800px) {
      .mm_about ul {
        width: 255px;
        margin: 0 auto; } }
    .mm_about ul li {
      display: inline-block;
      text-align: left;
      position: relative;
      margin-right: 20px;
      padding-right: 26px;
      vertical-align: top; }
      .mm_about ul li:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 6px;
        height: 70px;
        background: url('../images/vertical.svg') center center no-repeat; }
      .mm_about ul li:last-child {
        margin-right: 0;
        padding-right: 0; }
        .mm_about ul li:last-child:after {
          display: none; }
      @media (max-width: 800px) {
        .mm_about ul li {
          display: block; }
          .mm_about ul li:nth-child(3) {
            margin-left: 30px; }
          .mm_about ul li:after {
            display: none; } }
    .mm_about ul a, .mm_about ul span {
      color: white;
      text-decoration: none;
      line-height: 40px; }
      @media (max-width: 800px) {
        .mm_about ul a, .mm_about ul span {
          line-height: 30px; }
          .mm_about ul a.icon-mp-arts:before, .mm_about ul span.icon-mp-arts:before {
            line-height: 60px; } }
      .mm_about ul a:before, .mm_about ul span:before {
        vertical-align: top;
        margin-right: 10px;
        font-size: 28px; }
        @media (max-width: 800px) {
          .mm_about ul a:before, .mm_about ul span:before {
            font-size: 20px;
            line-height: 22px; } }
      .mm_about ul a.icon-mp-arts:before, .mm_about ul span.icon-mp-arts:before {
        font-size: 68px;
        margin-top: -17px; }
  .mm_about a.icon-close {
    color: white;
    font-size: 45px;
    margin-top: 20px;
    display: inline-block; }

.project__item, .project__item--2x2, .project__item--2x1, .project__item--1x1 {
  border: 6px solid white;
  z-index: 2;
  position: relative;
  background: #0B152F; }
  .project__item:hover img, .project__item--2x2:hover img, .project__item--2x1:hover img, .project__item--1x1:hover img {
    opacity: 0.2;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .project__item:hover:after, .project__item--2x2:hover:after, .project__item--2x1:hover:after, .project__item--1x1:hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
  .project__item:after, .project__item--2x2:after, .project__item--2x1:after, .project__item--1x1:after {
    content: "\F012";
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    -webkit-transition: 0.4s opacity cubic-bezier(.25, .1, .25, 1);
            transition: 0.4s opacity cubic-bezier(.25, .1, .25, 1);
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .project__item:only-child, .project__item--2x2:only-child, .project__item--2x1:only-child, .project__item--1x1:only-child {
    float: left;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 0px;
    border: 6px solid white; }
  .project__item img, .project__item--2x2 img, .project__item--2x1 img, .project__item--1x1 img {
    width: 100%;
    float: left;
    -webkit-transition: 0.4s opacity cubic-bezier(.25, .1, .25, 1);
            transition: 0.4s opacity cubic-bezier(.25, .1, .25, 1);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
  .project__item--left {
    float: left;
    border-left: 0;
    border-right: 3px solid white; }
    @media (max-width: 800px) {
      .project__item--left {
        border-left: 0;
        border-right: 0; } }
  .project__item--right {
    border-right: 0;
    border-left: 3px solid white;
    float: right; }
    @media (max-width: 800px) {
      .project__item--right {
        border-left: 0;
        border-right: 0; } }
  .project__item--2x2 {
    width: 50%;
    margin-top: -6px; }
    @media (max-width: 800px) {
      .project__item--2x2 {
        width: 100%; } }
  .project__item--2x1 {
    width: 50%;
    margin-top: -6px; }
    @media (max-width: 800px) {
      .project__item--2x1 {
        width: 100%; } }
  .project__item--1x1 {
    width: 50%;
    margin-top: -6px; }
  .project__item--hide.project__item--right, .project__item--hide.project__items--right {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
  .project__item--hide.project__item--left, .project__item--hide.project__items--left {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }

.project__items, .project__items--left, .project__items--right {
  position: relative;
  width: 50%;
  -webkit-transition: 1s -webkit-transform cubic-bezier(.25, .1, .25, 1);
          transition: 1s transform cubic-bezier(.25, .1, .25, 1); }
  @media (max-width: 800px) {
    .project__items, .project__items--left, .project__items--right {
      width: 100%; } }
  .project__items .project__item--1x1, .project__items--left .project__item--1x1, .project__items--right .project__item--1x1 {
    float: left; }
    .project__items .project__item--1x1:last-child, .project__items--left .project__item--1x1:last-child, .project__items--right .project__item--1x1:last-child {
      border-right: 0;
      border-left: 3px solid white; }
    .project__items .project__item--1x1:first-child, .project__items--left .project__item--1x1:first-child, .project__items--right .project__item--1x1:first-child {
      border-left: 3px solid white;
      border-right: 3px solid white; }
      @media (max-width: 800px) {
        .project__items .project__item--1x1:first-child, .project__items--left .project__item--1x1:first-child, .project__items--right .project__item--1x1:first-child {
          border-left: 0; } }
  .project__items--left {
    float: left; }
  .project__items--right {
    float: right; }

.project__inline {
  position: fixed;
  width: 100%;
  top: -50%;
  z-index: 10;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 1s top, -webkit-transform cubic-bezier(.25, .1, .25, 1);
          transition: 1s top, transform cubic-bezier(.25, .1, .25, 1);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  zoom: 1; }
  .project__inline:before, .project__inline:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .project__inline:after {
    clear: both; }
  .project__inline--show {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .project__inline__item {
    width: 100%;
    text-align: center;
    float: left; }
    .project__inline__item img {
      -webkit-box-shadow: -60px 72px 4px 0px rgba(11, 21, 47, 0.5);
              box-shadow: -60px 72px 4px 0px rgba(11, 21, 47, 0.5); }
  .project__inline img {
    max-height: 100%; }
  .project__inline a {
    color: white;
    display: inline-block; }
    .project__inline a.icon-close {
      font-size: 34px;
      margin-left: 10px;
      margin-right: -44px;
      vertical-align: top; }
  .project__inline__inner {
    display: none;
    top: -100%; }
    .project__inline__inner.loaded {
      top: 0;
      display: block; }
  .project__inline ul {
    position: fixed;
    z-index: 8;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    list-style-type: none; }
    .project__inline ul li {
      display: inline-block; }
    .project__inline ul a {
      text-decoration: none;
      font-size: 35px;
      margin: 0 25px; }

.project__detail {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  -webkit-transition: 1s all cubic-bezier(.25, .1, .25, 1);
          transition: 1s all cubic-bezier(.25, .1, .25, 1);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transform: translateX(-50%) translateY(-250%);
      -ms-transform: translateX(-50%) translateY(-250%);
          transform: translateX(-50%) translateY(-250%);
  z-index: 10;
  text-align: center;
  color: white; }
  @media (max-width: 800px) {
    .project__detail {
      width: 90%; } }
  .project__detail--show {
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .project__detail h1 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 2.5px; }
    @media (max-width: 800px) {
      .project__detail h1 {
        font-size: 31px;
        line-height: 31px;
        letter-spacing: 2px; } }
  .project__detail hr {
    border: 0;
    background: url('../images/underline.svg') center top no-repeat;
    height: 11px;
    margin: 20px 0; }
  .project__detail p {
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 1.45px;
    line-height: 30px;
    margin-top: 20px; }
    @media (max-width: 800px) {
      .project__detail p {
        font-size: 17px;
        letter-spacing: 1px;
        line-height: 23px; } }
  .project__detail a.icon-close {
    color: white;
    font-size: 45px;
    margin-top: 20px;
    display: inline-block;
    -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
            transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }
    .project__detail a.icon-close:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }

.project__tiles {
  zoom: 1;
  background: #0B152F; }
  .project__tiles:before, .project__tiles:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .project__tiles:after {
    clear: both; }

.mfp-container a {
  color: white; }
  .mfp-container a.icon-arrow-left, .mfp-container a.icon-arrow-right {
    font-size: 54px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .mfp-container a.icon-arrow-right {
    left: 0; }
  .mfp-container a.icon-arrow-left {
    right: 0; }
.mfp-container .mfp-close {
  width: auto;
  right: -40px; }
  .mfp-container .mfp-close:after {
    -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
            transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }
  .mfp-container .mfp-close:hover:after {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
          transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1) 0.25s;
          transition: all 0.5s cubic-bezier(.25, .1, .25, 1) 0.25s;
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  top: -100%;
  -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
          transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  top: 0; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  top: -250%; }

.mfp-fade.mfp-wrap .icon-arrow-left {
  right: -250%;
  -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
          transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }

/* arrows animate in */
.mfp-fade.mfp-wrap.mfp-ready .icon-arrow-left {
  right: 0; }

/* arrows animate out */
.mfp-fade.mfp-wrap.mfp-removing .icon-arrow-left {
  right: -100%; }

.mfp-fade.mfp-wrap .icon-arrow-right {
  left: -100%;
  -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
          transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }

/* arrows animate in */
.mfp-fade.mfp-wrap.mfp-ready .icon-arrow-right {
  left: 0; }

/* arrows animate out */
.mfp-fade.mfp-wrap.mfp-removing .icon-arrow-right {
  left: -100%; }

.mfp-counter {
  left: 0;
  text-align: center; }
  .mfp-counter a {
    text-decoration: none;
    font-size: 35px;
    line-height: 50px;
    margin: 0 25px;
    opacity: 0.4;
    -webkit-transition: all 0.4s linear;
            transition: all 0.4s linear; }
    .mfp-counter a.active {
      opacity: 1; }

.mfp-container .icon-arrow-right {
  z-index: 2000;
  position: relative;
  margin-left: 10%; }
.mfp-container .icon-arrow-left {
  position: relative;
  z-index: 2000;
  margin-right: 10%; }
.mfp-container .icon-arrow-left:before, .mfp-container .icon-arrow-right:before {
  -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
          transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }
.mfp-container .icon-arrow-left:hover:before, .mfp-container .icon-arrow-right:hover:before {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }
@media (max-width: 800px) {
  .mfp-container .icon-arrow-right, .mfp-container .icon-arrow-left {
    display: none; } }

a.mm__close {
  color: white;
  font-size: 30px;
  position: fixed;
  display: block;
  right: 50px;
  top: -50px;
  z-index: 10;
  -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
          transition: all 0.5s cubic-bezier(.25, .1, .25, 1); }
  a.mm__close--show {
    right: 50px;
    top: 50px; }
  a.mm__close:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }

.mm__projects {
  z-index: 10;
  position: fixed;
  top: 70px;
  left: 70px;
  right: 70px;
  bottom: 70px;
  overflow: auto;
  -webkit-transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
          transition: all 0.5s cubic-bezier(.25, .1, .25, 1);
  -webkit-transform: translateY(-250%);
      -ms-transform: translateY(-250%);
          transform: translateY(-250%); }
  .mm__projects--show {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .mm__projects ul {
    list-style-type: none;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .mm__projects li {
    display: inline-block;
    width: 19%;
    margin: 0.5%;
    position: relative;
    background: #0B152F; }
    .mm__projects li a:hover img {
      opacity: 0.5; }
    .mm__projects li a:hover span {
      opacity: 1; }
    .mm__projects li img {
      width: 100%;
      display: block;
      -webkit-transition: opacity 0.5s cubic-bezier(.25, .1, .25, 1);
              transition: opacity 0.5s cubic-bezier(.25, .1, .25, 1); }
    .mm__projects li span {
      display: block;
      width: 80%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      opacity: 0;
      -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      -webkit-transition: opacity 0.5s cubic-bezier(.25, .1, .25, 1);
              transition: opacity 0.5s cubic-bezier(.25, .1, .25, 1); }
