.project__item{
  border:6px solid white;
  z-index:2;
  position:relative;
  background:$navy;
  &:hover{
    img{
      opacity:0.2;
      transition-delay:0s;
    }
    &:after{
      opacity:1;
      transition-delay:0.2s;
    }
  }
  &:after{
    content:"\F012";
    color:white;
    font-size:60px;
    @extend %icon;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    opacity:0;
    transition:0.4s opacity cubic-bezier(.25,.1,.25,1);
    transition-delay:0s;
  }
  &:only-child{
    float:left;
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:0px;
    border:6px solid white;
    &:hover{
      img{
        opacity:1;
      }
      &:after{
        display:none;
      }
    }
  }
  img{
    width:100%;
    float:left;
    transition:0.4s opacity cubic-bezier(.25,.1,.25,1);
    transition-delay:0.2s;
  }
  &--left{
    float:left;
    border-left:0;
    border-right:3px solid white;
    @include bp(tablet){
      border-left:0;
      border-right:0;
    }
  }
  &--right{
    border-right:0;
    border-left:3px solid white;
    float:right;
    @include bp(tablet){
      border-left:0;
      border-right:0;
    }
  }
  &--2x2{
    @extend .project__item;
    width:50%;
    margin-top:-6px;
    @include bp(tablet){
      width:100%;
    }
  }
  &--2x1{
    @extend .project__item;
    width:50%;
    margin-top:-6px;
    &:only-child{
      width:100%;
    }
    @include bp(tablet){
      width:100%;
    }
  }
  &--1x1{
    @extend .project__item;
    width:50%;
    margin-top:-6px;
  }
  &--hide{
    &.project__item--right, &.project__items--right{
      transform:translateX(100%);
    }
    &.project__item--left, &.project__items--left{
      transform:translateX(-100%);
    }
  }
}

.project__items{
  position:relative;
  width:50%;
  @include bp(tablet){
      width:100%;
  }
  transition:1s transform cubic-bezier(.25,.1,.25,1);
  .project__item--1x1{
    float:left;
    &:last-child{
      //border-right:0;
      border-left:3px solid white;
      border-right:3px solid white;
    }
    &:first-child{
      border-left:3px solid white;
      border-right:3px solid white;
      @include bp(tablet){
        border-left:0;
      }
    }
  }
  &--left{
    @extend .project__items;
    float:left;
  }
  &--right{
    @extend .project__items;
    float:right;
  }
}

.project__inline{
  position:fixed;
  width:100%;
  top:-50%;
  z-index:10;
  transform:translateY(-100%);
  transform-origin:top left;
  transition:1s top, transform cubic-bezier(.25,.1,.25,1);
  transition-delay:0.25s;
  @include clearfix;
  &--show{
    top:50%;
    transform:translateY(-50%);
  }
  &__item{
    width:100%;
    text-align:center;
    float:left;
    img{
      box-shadow: -60px 72px 4px 0px rgba($navy,0.5);
    }
  }
  img{
    max-height:100%;
  }
  a{
    color:white;
    display:inline-block;
    &.icon-close{
      font-size:34px;
      margin-left:10px;
      margin-right:-44px;
      vertical-align:top;
    }
  }
  &__inner{
    display:none;
    top:-100%;
    &.loaded{
      top:0;
      display:block;
    }
  }
  ul{
    position:fixed;
    z-index:8;
    top:50%;
    left:0;
    width:100%;
    text-align:center;
    transform:translateY(-50%);
    list-style-type:none;
    @extend %phosphate;
    li{
      display:inline-block;
    }
    a{
      @extend %phosphate;
      text-decoration:none;
      font-size:35px;
      margin:0 25px;
    }
  }
}

.project__detail{
  position:fixed;
  top:50%;
  left:50%;
  width:40%;
  transition:1s all cubic-bezier(.25,.1,.25,1);
  transition-delay:0.25s;
  transform:translateX(-50%) translateY(-250%);
  z-index:10;
  
  text-align:center;
  color:white;
  @extend %phosphate;
  
  @include bp(tablet){
    width:90%;
  }
  
  &--show{
    transform:translateX(-50%) translateY(-50%);
  }
  
  h1{
    font-size:42px;
    line-height:42px;
    letter-spacing:2.5px;
    @include bp(tablet){
      font-size:31px;
      line-height:31px;
      letter-spacing:2px;
    }
  }

  hr{
    border:0;
    background:url('../images/underline.svg') center top no-repeat;
    height:11px;
    margin:20px 0;
  }

  p{
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 1.45px;
    line-height: 30px;
    margin-top:20px;
    @include bp(tablet){
      font-size:17px;
      letter-spacing:1px;
      line-height:23px;
    }
  }

  a.icon-close{
    color:white;
    font-size:45px;
    margin-top:20px;
    display:inline-block;
    transition: all $timing;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.project__tiles{
  @include clearfix;
  background:$navy;
}